 <section class="section bg-cover" data-background="/static/images/backgrounds/deal.jpg" style="background-image: url(&quot;/static/images/backgrounds/deal.jpg&quot;);">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <h1>Deal of the day</h1>
        <h4 class="mb-40">Get at discounted price!</h4>
        <!-- syo-timer -->
        <div class="syotimer large">
          <div id="simple-timer" data-year="2019" data-month="12" data-day="1" data-hour="1" class="syotimer"><div class="syotimer__head"></div><div class="syotimer__body"><p style="font-size: 1.2em;">The countdown is finished!</p></div><div class="syotimer__footer"></div></div>
        </div>
        <a href="shop.html" class="btn btn-primary">shop now</a>
      </div>
      <div class="col-md-6 text-center text-md-left align-self-center">
        <img src="/static/images/deal/product.png" alt="product-img" class="img-fluid up-down">
      </div>
    </div>
  </div>
</section>