{% load static %}
<section class="section-sm border-top">
  <div class="container">
    <div class="row">
      <!-- service item -->
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-truck icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4><img src="{% static 'delivery-truck.png' %}" width="50px" height="50px">&nbsp;&nbsp;Free Shipping</h4>
            <p class="mb-0 text-gray">Free shipping on oder over $70</p>
          </div>
        </div>
      </div>
      <!-- service item -->
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-shield icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4><img src="{% static 'secure-payment.png' %}" width="50px" height="50px">&nbsp;&nbsp;Secure Payment</h4>
            <p class="mb-0 text-gray">We ensure secure payment with PEV</p>
          </div>
        </div>
      </div>
      <!-- service item -->
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-timer icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4><img src="{% static 'clock.png' %}" width="50px" height="50px">&nbsp;&nbsp;Support 24/7</h4>
            <p class="mb-0 text-gray">Contact us 24 hours a day, 7 days a week</p>
          </div>
        </div>
      </div>
      <!-- service item -->
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="d-flex flex-sm-row flex-column align-items-center align-items-sm-start">
          <i class="ti-reload icon-lg mr-4 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h4><img src="{% static 'return.png' %}" width="50px" height="50px">&nbsp;&nbsp;30 Days Return</h4>
            <p class="mb-0 text-gray">Simply return it within 30 days for an exchange.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>