<section class="section overlay cta" data-background="/static/images/backgrounds/cta.jpg" style="background-image: url(&quot;/static/images/backgrounds/cta.jpg&quot;);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="text-white mb-2">End of Season Sale</h1>
        <p class="text-white mb-4">Take 25% off all sweaters and knits. Discount applied at checkout.</p>
        <a href="{% url 'season_sale' %}" class="btn btn-light">shop now</a>
      </div>
    </div>
  </div>
</section>